{% extends "base.html" %} {% block content %}

<div class="wrapper-large">
    <div class="page about">
        <header class="header-home animated">
            <a class="link" href="https://datascisteven.github.io/about">
                <img class="selfie" alt="Steven Yan" src="assets/new_headshot.png"/>
            </a>
            <h1 class="title">Frequently Asked Questions</h1>
            <h2 class="description">Using my data science powers for social good</h2>
            <div class="social-links">
                <a class="link" data-title="medium.com/datascisteven" href="http://medium.com/datascisteven" target="_blank">
                    <svg class="icon icon-medium">
                        <use xlink:href="#icon-medium"></use>
                    </svg>
                </a>
                <a class="link" data-title="linkedin.com/in/datascisteven" href="http://linkedin.com/in/datascisteven" target="_blank">
                    <svg class="icon icon-linkedin">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                </a>
                <a class="link" data-title="github.com/datascisteven" href="https://github.com/datascisteven" target="_blank">
                    <svg class="icon icon-github">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                </a>
                <a class="link" data-title="datascisteven@gmail.com" href="mailto:datascisteven@gmail.com">
                    <svg class="icon icon-mail">
                        <use xlink:href="#icon-mail"></use>
                    </svg>
                </a>
            </div>
        </header>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <a class="link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ url_for('faq') }}">FAQ</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ url_for('prevention') }}">Prevention</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ url_for('testing') }}">Testing</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ url_for('treatment') }}">Treatment</a>
                </li>
                <li class="'item">
                    <a class="link" href="{{ url_for('submit') }}">Submit</a>"
                </li>
            </ul>
        </nav>
            
        <p>Driven by a deep-rooted desire to have a positive societal impact and contribute back to my communities, I have consistently pursued opportunities to be of service to others and foster a sense of community. With over a decade of experience in education management, my recent role as a Data Scientist at StartOut has reinforced my passion for leveraging data to drive impactful solutions for social good. In my diverse range of professional and extracurricular endeavors, I have actively engaged in roles such as Big Brother at the Incarnation Children's Center, Community Educator for GMHC, and Nominating Committee Chair for the UChicago LGBT Alumni Network, allowing me to collaborate, network, and contribute to meaningful causes.</p> 

        <p>Now transitioning into the field of data science, I bring a rich background encompassing management, classroom instruction, training and development, program administration, career advising, and content writing and editing. My work in developing practice content for the MCAT has honed my written communication skills, while delivering lectures and working with students one-on-one has strengthened my verbal communication abilities. Moreover, my experience working with premedical students from underrepresented populations, combined with my own immigrant upbringing, has provided me with cultural competence and insight into effectively interacting with diverse cultures.</p>

        <p>During my time at StartOut, I contributed to analyzing entrepreneurial data on high-growth companies and founders, utilizing my Python coding skills to create code for automating data collection and wrangling and machine learning models to deliver insights as aligned with Dr. Vivienne Ming's vision. This experience further solidified my practical knowledge of gaining insights from raw data to address social issues.  With unwavering passion and a comprehensive skill set, I am eager to apply my expertise to make a lasting impact in the field of data science.</p>

        <p>I am committed to utilizing data-driven solutions to address complex challenges and contribute to the greater good.</p>
                
    </div>
</div>

{% endblock %}

