{% extends "base.html" %} {% block content %}

<div class="wrapper-large">
    <div class="page about">
        <header class="header-home animated">
            <a class="link" href="https://datascisteven.github.io/about">
                <img class="selfie" alt="Steven Yan" src="assets/new_headshot.png"/>
            </a>
            <h1 class="title">Prevention</h1>
            <h2 class="description">Using my data science powers for social good</h2>
            <div class="social-links">
                <a class="link" data-title="medium.com/datascisteven" href="http://medium.com/datascisteven" target="_blank">
                    <svg class="icon icon-medium">
                        <use xlink:href="#icon-medium"></use>
                    </svg>
                </a>
                <a class="link" data-title="linkedin.com/in/datascisteven" href="http://linkedin.com/in/datascisteven" target="_blank">
                    <svg class="icon icon-linkedin">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                </a>
                <a class="link" data-title="github.com/datascisteven" href="https://github.com/datascisteven" target="_blank">
                    <svg class="icon icon-github">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                </a>
                <a class="link" data-title="datascisteven@gmail.com" href="mailto:datascisteven@gmail.com">
                    <svg class="icon icon-mail">
                        <use xlink:href="#icon-mail"></use>
                    </svg>
                </a>
            </div>
        </header>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <a class="link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ url_for('faq') }}">FAQ</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ url_for('testing') }}">Testing</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ url_for('treatment') }}">Treatment</a>
                </li>
                <li class="'item">
                    <a class="link" href="{{ url_for('submit') }}">Submit</a>"
                </li>
            </ul>
        </nav>
    
        <p>Tuberculosis (TB) prevention is crucial to reduce the spread of this contagious lung infection. Key preventive measures include:</p>
        <p>
        <ol>
            <li><strong>Avoid Close Contact:</strong> Steer clear of close contact with individuals who have active TB disease to minimize the risk of infection.</li>
            <li><strong>Treat Latent TB:</strong> If diagnosed with latent TB infection, consider taking medicine to prevent the progression to TB disease.</li>
            <li><strong>Vaccination:</strong> In some countries, the BCG vaccine helps prevent severe forms of TB in children.</li>
            <li><strong>Promote Immune Health:</strong> Maintaining a healthy immune system through a balanced diet, regular exercise, and proper sleep can reduce susceptibility.</li>
            <li><strong>Early Diagnosis and Treatment:</strong> Rapidly diagnosing and treating active TB can prevent its transmission.</li>
            <li><strong>Isolation and Quarantine:</strong> Isolate individuals with active TB, and implement quarantine measures when necessary.</li>
            <li><strong>Infection Control:</strong> Implement administrative and environmental procedures in healthcare settings to reduce exposure to TB.</li>
            <li><strong>Health Hygiene:</strong> Practicing good respiratory hygiene, like covering your mouth and nose when coughing or sneezing, helps prevent the spread.</li>
        </ol>
        </p>
    </div>
</div>

{% endblock %}

